.cancelButton {
  border-color: snow;
  background-color: snow;
  border-radius: 10%;
}

.playButton{
  border-color: snow;
  background-color: snow;
  border-radius: 10%;
}
.playButton:focus{
  border-color: snow;
  background-color: snow;
}
.heading{
  font-size: 20px;
}
.contentHolder{
}
