.cancelButton {
  margin-top: 20px;
  border-color: snow;
  background-color: snow;
  border-radius: 10%;
}

.playButton{
  margin-top: 20px;
  border-color: snow;
  background-color: snow;
  border-radius: 10%;
  margin-right: 5px;
  margin-left: 5px;
}
.playButton:focus{
  border-color: transparent;
  background-color: transparent;
}
.heading{
  font-size: 20px;
}
.contentHolder{
  margin: 30px;
}
